<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

body {
    background-image: url("images/junkenstein's-castle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.progress {
    margin-top: 10%;
    align-items: center;
	height: 35px;
}

.quest {
	width:20%;
	line-height: 35px;
}

.card {
	background-image: url("images/card.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
    width: 70px;
    height: 120px;
	line-height: 120px;
    border-radius: 10%;
    text-align: center;
   	margin-left: auto;
	margin-right: auto;
	color: white;
}

.card-container {
    display: flex;
	flex-direction: row;
    margin-left: auto;
	margin-right: auto;
    margin-top: 8%;
	width: 100%;
}

#avalonLogo {
    height: 170px;
    width: 270px;
}

#voteContainer {

    display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.vote {
/*	float: left;*/
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}




@media(min-width: 800px) {
	.progress {
		height: 55px;
	}
	
	.quest {
		line-height: 55px;
		font-size: 18pt;
	}
	
	.card {
		width: 140px;
		height: 240px;
		font-size: 18pt;
		line-height: 240px;
	}
	
	.vote {
		height: 90px;
		width: 90px;
	}
	
	#avalonlogo{
		height: 230px;
		width: 330px;
	}
} 

.modal-body{
    text-align: center;
}

.modal-title{
    text-align: center;
}


